/*
focus - нажатие
active - находимся на странице
*/

/*=== Глобальные стили ===*/
body {
	margin: 0;
	padding: 0;
	
	font-family: 'Roboto', Arial, sans-serif;
	color: #fff;
	background-color: #849d8f;
	font-size: 16px;
	line-height: 22px;
}

a {
	text-decoration: none;
	color: #fff;
}

img {
	max-width: 100%;
}

/*=== Шапка ===*/

.main-header ul {
	margin: 0;
	padding: 0;
}

.site-navigation,
.catalog-navigation {
	line-height: 18px;
	list-style: none;
}

/*=== Основное меню ===*/
.site-navigation-link {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.site-navigation-link:hover {
	color: #333333;
	font-weight: 700;
	background-color: #fff;
	border-radius: 20px;
	padding: 5px 15px;
	border: 1px solid rgb(255, 255, 255);
}

.site-navigation-link:focus {
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.site-navigation-link.active {
	background-color: #d07058;
	border-radius: 20px;
	padding: 5px 15px;
	border: transparent;
	color: #fff;
	font-weight: 400;
}
/*=== Основное меню ===*/

/*=== Выпадающее меню ===*/
.catalog-navigation {
	font-size: 14px;
	line-height: 16px;
	background-color: #fff;
	border-radius: 5px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	width: 145px;
}

.catalog-navigation-item {
	background: transparent;
	padding: 10px 20px;
}

.catalog-navigation-item:hover {
	background-color: #fbded7;
}

.catalog-navigation-item:focus {
	background-color: #f6b5a5;
}

.catalog-navigation-item.first {
	border-bottom: 1px solid rgba(51, 51, 51, 0.2);	
}

.catalog-navigation-item.active {
	background-color: #d07058;
}

.catalog-navigation-link {
	color: #323232;
}

.first .catalog-navigation-link {
	font-weight: 700;
}

.active .catalog-navigation-link {
	color: #fff;
}
/*=== Выпадающее меню ===*/

/*=== Кнопки в шапке ===*/
.header-actions a {
	padding: 5px 10px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
}

.contacts-time {
	font-size: 14px;
	line-height: 16px;
}

.contacts-phone {
	font-size: 22px;
	line-height: 24px;
}
/*=== Кнопки в шапке ===*/
/*=== Шапка ===*/

/*=== Слайдер ===*/
.slide-description {
	font-size: 60px;
	line-height: 60px;
}
/*=== Слайдер ===*/

/*=== Кнопки ===*/
.button {
	font: inherit;
}

.special-offer-button {
	
}

/*=== Кнопки ===*/


/*=== Верхнее меню ===*/


	font-size: ;
	line-height: ;
	color:
	background-color: ;