/*
focus - нажатие
active - находимся на странице
*/

/*=== Глобальные стили ===*/
* {
	outline: 1px solid purple;
}

body {
	margin: 0 auto;
	padding: 0;
	
	font-family: 'Roboto', Arial, sans-serif;
	color: #fff;
	background-color: #849d8f;
	font-size: 16px;
	line-height: 22px;
	width: 1200px;
}

a {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	line-height: 18px;
}

img {
	max-width: 100%;
}

button {
	cursor: pointer;
}

.button {
	font-weight: 700;
	vertical-align: middle;
	text-align: center;
	border: none;
	border-radius: 20px;
	padding: 10px 20px;
	color: #fff;
	background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover {
	background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	color: #fff;
}

.button:focus {
	background-image: linear-gradient(to bottom, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	color: #fff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*=== Глобальные стили ===*/

.wrapper {
	margin: 0 auto;
	padding: 0 27px;
}

/*=== Шапка ===*/
.main-header ul {
	padding: 0;
	margin: 0;
}

.main-header {
	display: flex;
	justify-content: space-between;
}

.main-navigation {
	display: flex;
	width: 560px;
	justify-content: space-between;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
}

.site-navigation,
.catalog-navigation {
	line-height: 18px;
	list-style: none;
}

/*=== Основное меню ===*/
.site-navigation-link {
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
	cursor: pointer;
}

.site-navigation-link:hover {
	color: #333333;
	font-weight: 700;
	background-color: #fff;
	border-radius: 20px;
	padding: 5px 15px;
	border-bottom: 1px solid rgb(255, 255, 255);
}

.site-navigation-link:focus {
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.site-navigation-link.active {
	background-color: #d07058;
	border-radius: 20px;
	padding: 5px 15px;
	border: transparent;
	color: #fff;
	font-weight: 500;
}
/*=== Основное меню ===*/

/*=== Выпадающее меню ===*/
.catalog-navigation {
	font-size: 14px;
	line-height: 16px;
	background-color: #fff;
	border-radius: 5px;
	background-color: rgb(248, 247, 244);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	width: 145px;
	display: none;
}

.catalog-navigation-item {
	padding: 10px 20px;
}

.catalog-navigation-item:hover {
	background-color: #fbded7;
}

.catalog-navigation-item:focus {
	background-color: #f6b5a5;
}

.catalog-navigation-item.first {
	border-bottom: 1px solid rgba(51, 51, 51, 0.2);	
}

.catalog-navigation-item.first:hover,
.catalog-navigation-item.first:focus {
	border-radius: 5px 5px 0 0;
}

.catalog-navigation-item.last:hover,
.catalog-navigation-item.last:focus {
	border-radius: 0 0 5px 5px;
}
/*как настроить отступы для подчеркивания по краям?*/
.catalog-navigation-item.active {
	background-color: #d07058;
}

.catalog-navigation-link {
	color: #323232;
}

.first .catalog-navigation-link {
	font-weight: 700;
}

.active .catalog-navigation-link {
	color: #fff;
}
/*=== Выпадающее меню ===*/

/*=== Кнопки в шапке ===*/
.header-actions {
	display: flex;
}

.header-actions a {
	padding: 5px 10px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.header-actions a:hover {
	color: #323232;
	background-color: rgb(248, 247, 244);
}

.header-contacts {
	text-align: right;
}

.contacts-time {
	font-size: 14px;
	line-height: 16px;
}

.contacts-phone {
	font-size: 22px;
	line-height: 24px;
}
/*=== Кнопки в шапке ===*/

/*=== Форма входа, Форма поиска, Форма обратной связи ===*/
.modal-login,
.search-form {
	display: none;
}

.modal-login,
.search-form,
.modal-feedback {
	background-color: #f8f7f4;
}

.login-item input,
.search-form input,
.feedback-item input,
.feedback-item textarea {
	font: inherit;
	font-size: 14px;
	line-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(211, 211, 210);
	border-radius: 5px;
}

.login-item input:hover,
.search-form input:hover,
.feedback-item input:hover,
.feedback-item textarea {
	border-width: 2px;
	border-color: rgb(154, 154, 154, 0.52);
}

.login-item input:focus,
.search-form input:focus,
.feedback-item input:focus,
.feedback-item textarea {
	border-width: 2px;
	border-color: rgb(46, 136, 228, 0.52);
}

.login-item input:active,
.search-form input:active,
.feedback-item input:active,
.feedback-item textarea {
	border-color: rgb(178, 178, 178, 0.52);
}
/*=== Форма входа, Форма поиска, Форма обратной связи ===*/

/*=== Форма входа ===*/
.login-password-info a {
	font-size: 13px;
	color: #323232;
	border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.login-password-info a:hover,
.login-password-info a:focus,
.login-password-info a:active {
	color: #e84d37;
	border-bottom: 1px solid rgba(232, 77, 55 , 0.2);
} 
/*как сделать жирным вводимые данные?*/
/*=== Форма входа ===*/
	
/*=== Форма обратной связи ===*/	
.modal-feedback h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #323232;
}
/*=== Форма обратной связи ===*/
/*=== Шапка ===*/

/*=== Слайдер ===*/
.slider {
	margin-bottom: 40px;
}

.slider ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.slide-description {
	font-size: 60px;
	line-height: 60px;
	text-align: center;
}
/*=== Слайдер ===*/

/*=== Акции ===*/
.actions {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.action-first,
.action-second {
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
	width: 560px;
}

.action-first {
	background-color: #611223; 
	background-image: url('../img/action-first.jpg');	
}

.action-second {
	background-color: #43281c; 
	background-image: url('../img/action-second.jpg');
}

.action-name {
	font-weight: 700;
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 10px;
}

.action-description {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 50px;
}

.actions .button {
	float: right;
}
/*=== Акции ===*/

/*=== Популярные товары ===*/
.popular-items {
	margin-bottom: 40px;
}

.popular-items ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

/*.popular-item {
	background: transparent;
}*/

.popular-item {
	width: 267px;
}

.popular-item:hover {
	border-radius: 5px;
	background-color: rgb(254, 254, 254, 0.2);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.popular-label {
	background-image: url('../img/popular-label.png');
	border-radius: 20px;
}

.popular-photo {
	border-radius: 50%;
}

.popular-price {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
}

.popular-price-type {
	font-size: 30px;
}

.popular-link {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	line-height: 22px;
	text-align: center;
}

.popular-quick-look.button {
	font-size: 18px;
	line-height: 24px;
	display: none;
}
/*=== Популярные товары ===*/

/*=== Контент ===*/
.presentation {
	background-image: url('../img/waffle.jpg');
	border-radius: 20px;
	margin-bottom: 40px;
	box-sizing: border-box;
	padding: 30px 20px;
}

.presentation span,
.presentation p,
.blog-preview span, 
.blog-preview a {
	color: #323232;
}

.presentation span {
	font-weight: 500;
	font-size:24px;
	line-height: 30px;
}

/*=== Блог ===*/
.blog {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.blog-preview {
	background-image: url('../img/blog-image.jpg');
	border-radius: 20px;
	width: 560px;
	box-sizing: border-box;
	padding: 25px 20px;
}

.blog-preview span {
	font-weight: 500;
	display: block;
	margin-bottom: 10px;
}

.blog-preview a {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	border-bottom: 2px solid rgb(50, 50, 50);
}

.blog-preview a:hover,
.blog-preview a:active,
.blog-preview a:focus {
	color: #e84d37;
	border-bottom: 1px solid rgba(232, 77, 55 , 0.2);
}
/*=== Блог ===*/

/*=== Подписка ===*/
.subscription {
	background-color: #f8f7f4;
	border-radius: 20px;
	width: 560px;
	box-sizing: border-box;
	padding: 25px 20px;
}

.subscription p {
	color: #5a5a5a;
/*	margin-bottom: 40px;*/
}

.subscription-form {
	background-color: #f8f7f4;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.subscription-item input {
	font: inherit;
	font-size: 14px;
	line-height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(211, 211, 210);
	border-radius: 5px;
	width: 365px;
	padding: 7px;
}

.subscription-item input:hover {
	border-width: 2px;
	border-color: rgba(154, 154, 154, 0.52);
}

.subscription-item input:focus {
	border-width: 2px;
	border-color: rgba(46, 136, 228, 0.52);
}

.subscription- input:active {
	border-color: rgba(178, 178, 178, 0.52);
}

.subscription-item + .button {
	display: inline;
}
/*=== Подписка ===*/
/*=== Контент ===*/

/*=== Контакты ===*/
.footer-contacts {
	background-color: #cddfbe;
}

.footer-contacts-data {
	background-color: #fff;
	border-radius: 20px;
	color: #323232;
}

.footer-address-description {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.footer-address-item {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
}
/*=== Контакты ===*/

/*=== Футер ===*/
/*=== Социальные сети ===*/
.social-links {
	margin: 0;
	padding: 0;
	list-style: none;
}

.social-button {
	background-color: rgb(255, 255, 255, 0.5);
	background-repeat: no-repeat;
}

.social-button.tw {
	background-image: url('../img/twitter-icon.svg');
}

.social-button.ig {
	background-image: url('../img/instagram-icon.svg');
}

.social-button.fb {
	background-image: url('../img/fb-icon.svg');
}

.social-button.vk {
	background-image: url('../img/vk-icon.svg');
}
/*=== Социальные сети ===*/

/*=== Ссылки в футере ===*/
.footer-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-navigation a {
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid rgb(255, 255, 255);
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-navigation a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.footer-navigation .first {
	font-weight: 700;
}
/*=== Ссылки в футере ===*/

/*=== Копирайт в футере ===*/
.footer-copyright span,
.footer-copyright a {
	font-size: 12px;
	line-height: 18px;
}

.footer-copyright a {
	border-bottom: 1px solid rgb(255, 255, 255);
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
/*=== Копирайт в футере ===*/
/*=== Футер ===*/



/*=== Страница Каталог ===*/
/*=== Корзина с товарами ===*/
.cart-form.active {
	font-weight: 500;
	color: #323232;
	background-color: #fff;
	border-radius: 20px;
}

.cart-full {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.cart-items {
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.cart-item-pure-price {
	color: #999999;
}

.cart-sum {
	color: #323232;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
}
/*=== Корзина с товарами ===*/

/*=== Хлебные крошки ===*/
.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs a {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: #ffbc9e;
}

.breadcrumbs-current {
	font-size: 14px;
	line-height: 16px;
}
/*=== Хлебные крошки ===*/

/*=== Фильтры ===*/
.filter fieldset {
	border: none;
}

.filter-name,
.filter legend {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.filter select,
.slider-pricebar,
.filter-button {
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.filter select:hover {
	color: #323232;
}

.filter-wrapper {
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.filter ul {
	list-style: none;
	font-weight: 500;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

.filter-input:hover + label {
  color: #323232;
}

.filter-button {
	background-image: none;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	padding: 7px 25px;
}

.filter-button:hover {
	background-color: #fff;
	color: #323232;
}

.filter-button:focus {
	background-color: rgb(237, 237, 237);
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
	border: none;
}
/*=== Фильтры ===*/


/*=== Каталог товаров ===*/
.catalog-items ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*.catalog-item {
	background: transparent;
}*/

.catalog-item:hover {
	border-radius: 5px;
	background-color: rgb(254, 254, 254, 0.2);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-label {
	background-image: url('../img/popular-label.png');
	border-radius: 20px;
}

.catalog-photo {
	border-radius: 50%;
}

.catalog-price {
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
}

.catalog-price-type {
	font-size: 30px;
}

.catalog-link {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	line-height: 22px;
	text-align: center;
}

.catalog-quick-look.button {
	font-size: 18px;
	line-height: 24px;
}
/*=== Каталог товаров ===*/

/*=== Пагинация ===*/
.pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-list a {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	width: 25px;
	padding-top: 4px;
	padding-bottom: 2px; 
/*	background-color: transparent;*/
	border-radius: 50%;
}

.pagination-list a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:focus {
	background-color: #fff;
	color: #323232;
}

.pagination-item-current a {
	color: #323232;
	background-color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}
/*=== Пагинация ===*/
/*=== Страница Каталог ===*/

